html {
    scroll-behavior: smooth;
    color: black;
}

.containercreate {
    width: 500px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 28%;
    left: 33.7%;
}

.containercreate:hover {
    border-radius: 30px;
    transition: border-radius 0.3s ease-in-out;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transition: border-radius 0.3s ease-in-out;
    -moz-transition: border-radius 0.3s ease-in-out;
    -ms-transition: border-radius 0.3s ease-in-out;
    -o-transition: border-radius 0.3s ease-in-out;
}

.containercreate h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
}

.containercreate input {
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid silver;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.containercreate input:hover {
    border-radius: 15px;
    transition: border-radius 0.3s ease-in-out;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: border-radius 0.5s ease-in-out;
    -moz-transition: border-radius 0.5s ease-in-out;
    -ms-transition: border-radius 0.5s ease-in-out;
    -o-transition: border-radius 0.5s ease-in-out;
}

.btnadd {
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btnadd:hover {
    border-radius: 10px;
    transition: border-radius 0.3s ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: border-radius 0.5s ease-in-out;
    -moz-transition: border-radius 0.3s ease-in-out;
    -ms-transition: border-radius 0.3s ease-in-out;
    -o-transition: border-radius 0.3s ease-in-out;
}

.table {
    margin-top: 20px;
    overflow-x: auto;
}

.table table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.table th,
.table td {
    padding: 10px 10;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #ffffff;
    color: #333;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #fafafa;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.btnedit {
    padding: 6px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btndelete {
    padding: 6px 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-edit {
    background-color: green;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-edit:hover {
    color: white;
    background-color: green;
    border-radius: 10px;
    transition: border-radius 0.3s ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: border-radius 0.3s ease-in-out;
    -moz-transition: border-radius 0.3s ease-in-out;
    -ms-transition: border-radius 0.3s ease-in-out;
    -o-transition: border-radius 0.3s ease-in-out;
}

.btn-danger {
    background-color: black;
    border-radius: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-danger:hover {
    background-color: grey;
    border-radius: 10px;
    transition: border-radius 0.3s ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: border-radius 0.3s ease-in-out;
    -moz-transition: border-radius 0.3s ease-in-out;
    -ms-transition: border-radius 0.3s ease-in-out;
    -o-transition: border-radius 0.3s ease-in-out;
}
